<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8mP9SNQ-OWiwcxsmbKYJlzPl2g-fv27Q</string>
	<key>GCM_SENDER_ID</key>
	<string>713211218596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningAppOnUdemy</string>
	<key>PROJECT_ID</key>
	<string>learningflutter-e6089</string>
	<key>STORAGE_BUCKET</key>
	<string>learningflutter-e6089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713211218596:ios:5dd187c2f6745b0173f431</string>
</dict>
</plist>